{# @var layout \Percas\Core\Layout\DefaultLayout #}

<div class="sidebar">
    <ul class="modules">
        {% for module in layout.modules %}
            <li>
                <a href="{{ module.link }}/">{{ module.name }}</a>
                <ul class="applications">
                    {% for application in module.applications %}
                    <li>
                        <a href="{{ application.fullLink }}">{{ application.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
